.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right, #8c52ff, #b84ed3);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.search-icon {
  margin-right: 8px;
  color: #61dafb;
  font-size: 24px;
}

.search-input {
  width: 500px;
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #ffbbea;
  color: white;
  border-radius: 4px;
}

::placeholder {
  color: white;
  font-weight: bold;
  opacity: 1; /* Asegúrate de que el color sea completamente opaco */
}

.multi-filter {
  margin: 10px 0;
  color: #61dafb;
  font-size: 18px;
}

.multi-filter label {
  display: flex;
  align-items: center;
}

.multi-filter input {
  margin-left: 8px;
  transform: scale(1.2);
}

.games-table {
  width: 90%;
  min-width: 1200px;
  max-width: 1200px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(182, 182, 182, 0.1);
  table-layout: auto;
}

.games-table th,
.games-table td {
  border: 1px solid #aaaaaa;
  padding: 8px;
}

.games-table th {
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.games-table tr:nth-child(even) {
  background-color: #85858536;
}

.games-table tr:hover {
  background-color: #ffffff2f;
}

.games-table th,
.games-table td {
  text-align: left;
  padding: 12px;
}

.games-table th {
  white-space: nowrap;
}

.games-table th {
  font-size: 20px;
  background-color: #ffbbea;
  color: white;
}

.games-table td {
  font-size: 18px;
}

.games-table td:first-child {
  font-weight: bold;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  vertical-align: middle;
}

.sort-icon {
  font-size: 16px;
  color: #ffffff;
}

.App-footer {
  background-color: #ffbbea;
  color: white;
  font-weight: bold;
  position: relative;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.App-footer ul {
  list-style-type: none;
  padding: 0;
}

.App-footer li {
  margin: 5px 0;
}

.App-footer a {
  color: #8c52ff;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}

.github-icon {
  margin-right: 5px;
  vertical-align: middle;
  color: #8c52ff;
  font-size: 18px;
}

.twitter-icon {
  margin-right: 5px;
  vertical-align: middle;
  color: #8c52ff;
  font-size: 18px;
}