.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  /* min-height: 84vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

.search-input {
  width: 500px;
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.games-table {
  width: 90%;
  min-width: 1200px;
  max-width: 1200px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.games-table th,
.games-table td {
  border: 1px solid #aaaaaa;
  padding: 8px;
}

.games-table th {
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.games-table tr:nth-child(even) {
  background-color: #414141;
}

.games-table tr:hover {
  background-color: #575757;
}

.games-table th,
.games-table td {
  text-align: left;
  padding: 12px;
}

.games-table th {
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
}

.games-table td {
  font-size: 18px;
}

.games-table td:first-child {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.App-footer {
  background-color: #363e4d;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.App-footer ul {
  list-style-type: none;
  padding: 0;
}

.App-footer li {
  margin: 5px 0;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}